<main id="main1" style="display: block;">
  
  <section id="projects">
  <div id="projh">
    <h2>Recent projects</h2>
  <h4>All projects</h4>
    </div>
    <article id="project">
        {% include 'project_card.html' %}
    </article>
  </section>
    <section id="issuesumary">
      <header id="issue">
        <button class="issueh" style="background: green;">worked on</button>
        <button class="issueh" style="background: none;">viewed</button>
        <button class="issueh" style="background: none;">assigned to me</button>
        <button class="issueh" style="background: none;">Starred</button>
      </header>
      {% include 'issue_entry.html' %}
    </section>
</main>
