<div id="wo" style="display: block;">
  <div class="container">
  <div class="itemempty">
    <p>No history!</p>
    <div>
      <a href="#">Create Issue</a>
    </div>
  </div>

    <div class="item" style="display:none;">
      <div class="itemrh">
        <div class="desc">
          <div class="iss"></div>
          <div class="prjna"></div>
        </div>
      </div>
      <div class="itlh">
        <div>Created</div>
        <div class="itemlh">
           <img class="itemlh" src="/static/img/pp.png">
        </div>
      </div>
    </div>
  </div>
 </div>
